<div id="page-wrapper">
  <div class="inner-content";">
    <div class="music-browse">
  <!--albums-->
      <div class="browse">
        <div class="tittle-head two">
	        <h3 class="tittle"><%= t(".artist") %><span class="new"><%= t(".new") %></span></h3>
	        <a href="/artists/show"><h4 class="tittle third"><%= t(".see_all") %></h4></a>
	        <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div> 
<hr>
<!-- Begin of rows -->
<% @artists.each do |artist| %>
  <div class="row carousel-row" id="info-artits">
    <div class="col-xs-10 col-xs-offset-2 slide-row">
      <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <a  href="single.html"><%= link_to image_tag "soobin1.jpg", title: "allbum-name" %></a>
          </div>
          <div class="item">
            <a  href="single.html"><%= link_to image_tag "soobin1.jpg", title: "allbum-name" %></a>
          </div>
          <div class="item">
            <a  href="single.html"><%= link_to image_tag "soobin1.jpg", title: "allbum-name" %></a>
          </div>
        </div>
      </div>
      <div class="slide-content">
        <h4><a class="sing" href="single.html"><%= artist.name %></a></h4>
        <p><%= artist.description %></p>
      </div>
      <div class="slide-footer">
        <span class="pull-right buttons">
          <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i><%= t(".show") %></button>
          <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-music"></i><%= t(".albums") %></button>
        </span>
      </div>
    </div>
  </div>
<% end %>
<div id="info-page"><%= paginate @artists, theme: "twitter-bootstrap-3" %></div>

