<%= render "new" %>
<%= paginate @songs %>
<% @songs.each do |song| %>
  <table id="table" class="table table-hover">
    <tbody>
      <tr>
        <td class="width_avatar">
          <%= image_tag song.avatar.url, size: Settings.size_avatar %>
        </td>
        <td class="width_name">
          <%= song.name %>
        </td>
        <td class="width_name"><%= song.data %></td>
        <td class="width_name">
          <%= audio_tag song.data.url, controls: true %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
