<p><%= t ".hello" %> <%= @resource.email %>!</p>
<p><%= t ".link_change_your_password" %></p>
<p><%= link_to t(".change_my_password"),
  edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t ".please_ignore" %></p>
<p><%= t ".access_link_above" %></p>
