<div class="footer">
  <div class="footer-grid">
    <h3><%= t ".navigation" %></h3>
    <ul class="list1">
      <li><a href="#"><%= t ".home" %></a></li>
      <li><a href="#"><%= t ".all_songs" %></a></li>
      <li><a href="#"><%= t ".albums" %></a></li>
      <li><a href="#"><%= t ".new_collections" %></a></li>
      <li><a href="#"><%= t ".blog" %></a></li>
      <li><a href="#"><%= t ".contact" %></a></li>
    </ul>
  </div>
  <div class="footer-grid">
    <h3><%= t ".your_account" %></h3>
    <ul class="list1">
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal5">
          <%= t ".your_account" %>
        </a>
      </li>
      <li><a href="#"><%= t ".personal_information" %></a></li>
      <li><a href="#"><%= t ".addresses" %></a></li>
      <li><a href="#"><%= t ".discount" %></a></li>
      <li><a href="#"><%= t ".orders_history" %></a></li>
      <li><a href="#"><%= t ".search_terms" %></a></li>
    </ul>
  </div>
  <div class="footer-grid">
    <h3><%= t ".our_support" %></h3>
    <ul class="list1">
      <li><a href="#"><%= t ".site_map" %></a></li>
      <li><a href="#"><%= t ".search_terms" %></a></li>
      <li><a href="#"><%= t ".advanced_search" %></a></li>
      <li><a href="#"><%= t ".mobile" %></a></li>
      <li><a href="#"><%= t ".contact_us" %></a></li>
      <li><a href="#"><%= t "addresses" %></a></li>
    </ul>
  </div>
  <div class="footer-grid">
    <h3><%= t ".newsletter" %></h3>
    <p class="footer_desc"><%= t ".music" %></p>
    <div class="search_footer">
      <form>
        <input type="text" placeholder="Email...." required="">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="footer-grid footer-grid_last">
    <h3><%= t ".about_us" %></h3>
    <p class="footer_desc"><%= t ".our_life" %></p>
    <p class="f_text"><%= t ".phone" %></p>
    <p class="email"><%= t ".email" %> &nbsp;<span><a href="#">
      <%= t ".info" %></a></span>
    </p>
  </div>
  <div class="clearfix"> </div>
</div>
