<div class="left-side sticky-left-side">
  <div class="logo">
    <h1><a href="#"><%= t ".musi" %><span><%= t ".c" %></span></a></h1>
  </div>
  <div class="logo-icon text-center">
    <%= link_to t(".m"), root_path  %>
  </div>
  <div class="left-side-inner">
    <ul class="nav nav-pills nav-stacked custom-nav">
      <li class="active">
        <%= link_to root_path, class: "hover_menu_left_x" do %>
          <i class="lnr lnr-home"></i>
          <div class="hover_menu_left_0"><%= t ".home" %></div>
        <% end %>
      </li>
      <li>
        <%= link_to "#", data: {toggle: "modal", target: "#myModal1"} do %>
          <i class="fa fa-th"></i>
          <span><%= t ".apps" %></span>
        <% end %>
      </li>
      <li><a href="/artists/show"><i class="lnr lnr-users"></i>
        <span><%= t ".artists" %></span></a>
      </li>
      <li>
        <%= link_to songs_path, class: "hover_menu_left_x" do %>
          <i class="lnr lnr-music-note"></i>
          <div class="hover_menu_left_0"><%= t ".songs" %></div>
        <% end %>
      </li>
      <li>
        <%= link_to categories_path, class: "hover_menu_left_x" do %>
          <i class="lnr lnr-indent-increase"></i>
          <div class="hover_menu_left_0"><%= t ".cate" %></div>
        <% end %>
      </li>
      <li><a href="#"><i class="lnr lnr-book"></i>
        <span><%= t "blog" %></span></a>
      </li>
      <li><a href="#"><i class="lnr lnr-pencil"></i>
        <span><%= t ".typography" %></span></a>
      </li>
      <li class="menu-list">
        <a href="#"><i class="lnr lnr-heart"></i>
          <span><%= t ".my_favourites" %></span></a>
        <ul class="sub-menu-list">
          <li><a href="#"><%= t ".all_songs" %></a></li>
        </ul>
      </li>
      <li class="menu-list">
        <a href="#">
          <i class="fa fa-thumb-tack"></i>
          <span><%= t ".contact" %></span>
        </a>
        <ul class="sub-menu-list">
          <li><a href="#"><%= t ".location" %></a> </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
