<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog facebook" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="app-grids">
          <div class="app">
            <div class="col-md-5 app-left mpl">
              <h3><%= t ".mosaic_your_smartphone" %></h3>
              <p><%= t ".download" %></p>
              <div class="app-devices">
                <h5><%= t ".get_app" %></h5>
                <%= link_to "#" do %>
                  <%= image_tag "1.png", alt: "" %>
                <% end %>
                <%= link_to "#" do %>
                  <%= image_tag "2.png", alt: "" %>
                <% end %>
                <div class="clearfix"> </div>
              </div>
            </div>
            <div class="col-md-7 app-image">
              <%= image_tag "apps.png", alt: "" %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
