<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
      <%= render "layouts/leftside" %>
      <%= render "layouts/signup" %>
      <%= render "devise/registrations/new" %>
      <div class="main-content">
        <div class="header-section">
          <%= render "layouts/header" %>
        </div>
        <div id="page-wrapper">
          <div class="inner-content">
            <div class="music-left">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <%= render "layouts/footer" %>
      </div>
    </section>
  </body>
</html>
