<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
      <%= render "layouts/leftside" %>
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
      </div>
    </section>
  </body>
</html>
